---
import Tag from "@/components/Tag.astro";
import { SITE } from "@/config";
import Main from "@/layouts/Main.astro";
import SiteShell from "@/layouts/SiteShell.astro";
import { getTagData, getVisibleBlogPosts } from "@/utils/blog";

const posts = await getVisibleBlogPosts();
const tags = getTagData(posts);
---

<SiteShell title={`Tags | ${SITE.title}`}>
  <Main pageTitle="Tags" pageDesc="Browse all published topics.">
    <ul class="flex flex-wrap gap-4">
      {tags.map((tag) => <Tag tag={tag.slug} tagName={tag.name} count={tag.count} />)}
    </ul>
  </Main>
</SiteShell>
