---
import IconHash from "@/assets/icons/IconHash.svg";

interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
  count?: number;
}

const { tag, tagName, size = "lg", count } = Astro.props;
---

<li>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "flex items-center gap-0.5",
      "border-b-2 border-dashed border-foreground",
      "hover:-mt-0.5 hover:border-accent hover:text-accent",
      "focus-visible:border-none focus-visible:text-accent",
      { "text-sm": size === "sm" },
      { "text-lg": size === "lg" },
    ]}
  >
    <IconHash
      class:list={["opacity-80", { "size-5": size === "lg" }, { "size-4": size === "sm" }]}
    />
    {tagName}
    {
      typeof count === "number" && (
        <span
          class:list={["opacity-70", { "text-xs": size === "sm" }, { "text-sm": size === "lg" }]}
        >
          ({count})
        </span>
      )
    }
  </a>
</li>
